.SurveyStar{
  h1{
    text-align: center;
  }
  .starsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .star {
    width: 50px;
    height: 50px;
    background-size: 80%;
    background-repeat: no-repeat;
    transition: transform 0.3s, filter 0.3s;
    cursor: pointer;
    margin: 0 5px;
  }

  .star:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px gold);
  }
}
