@import "../../variables";
.Learner{
  height: 100vh;
  width: 100vw;
  &.box{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.fullscreen {
    height: 100vh;

  }


  .hiddenFooter{
    //grid-template-rows: $headerHeight auto 0
  }
}